{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <nav>
            <ul>
                <li><a href="/">CRILZZ</a></li>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <h1>CRILZZ</h1>
        <p class="center">Bienvenue sur la page d'accueil 🐞</p>
    </header>

    <main>
        <section>
            <p>aaa</p>
        </section>
    </main>

    <footer>
        <p class="center"><a class="a-white" href="https://cril54.fr/mentions-legales/">Mentions légales</a></p>
        <p class="center">Copyright ©2025, CRIL54</p>
        <p class="center">Webmaster : contact@cril54.org</p>
        <p class="center">Développé par <a class="a-white" href="#">Deborah Clerckx</a></p>
    </footer>
{% endblock %}