@import 'home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
}

body {
    background: #ffffff none repeat center center;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
    color: #333333;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

h1 {
    text-align: center;
    color: #7a0c7c;
    padding: 2rem;
    font-weight: 600;
    font-size: 2rem;
}
h2{
    color: #7a0c7c;
    font-weight: 600;
    font-size: 1.5rem;
}
h3{
    color: #7a0c7c;
    font-weight: 600;
    font-size: 1.2rem;
}

ul{
    list-style-type: none;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: #7a0c7c;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer>p,
footer>p>a{
    font-size: .8rem;
}

.a-white,
.a-white:visited {
    color: white;
}
.a-white:hover {
    color: #f5e1f5;
}
.center {
    text-align: center;
}