@use "bootstrap";
@use "home";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
}

body {
    background: #ffffff none repeat center center;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
    color: #333333;
}

main {
    margin: 2em auto;
    max-width: 1600px;
}

h1 {
    text-align: center;
    color: #7a0c7c;
    font-weight: 600;
    font-size: 2rem;
}
h2{
    color: #7a0c7c;
    font-weight: 600;
    font-size: 1.5rem;
}
h3{
    color: #7a0c7c;
    font-weight: 600;
    font-size: 1.2rem;
}

ul{
    list-style-type: none;
}

footer>p,
footer>p>a{
    font-size: .8rem !important;
}

.a-white,
.a-white:visited {
    color: white;
}
.a-white:hover {
    color: #f5e1f5;
}
.center {
    text-align: center;
}



.bg-crilzz {
    background-color: #7A0C7C !important;
    color: white;
}
.text-crilzz {
    color: #7A0C7C !important;
}
.btn-crilzz {
    background-color: #7A0C7C;
    color: white;
    border: none;
}
.btn-crilzz-small {
    color: #7A0C7C;
    border: none;
    font-size: 12px;
    padding: .2rem .8rem;
}
.btn-outline-crilzz {
    background-color: #7A0C7C;
    color: white;
    border: none;
}
.btn-crilzz:hover {
    background-color: #660A68;
    color: white;
}
.form-check-input-crilzz{
    background-color: white;
    border: 1px solid #7A0C7C;
}
.form-check-input-crilzz:checked {
    border-color: #7A0C7C;
    accent-color: #7A0C7C; /* pour changer la couleur de la checkbox */
    background-color: #7A0C7C;
}
.form-check-input-crilzz:focus {
    border-color: #7A0C7C;
    box-shadow: 0 0 0 .25rem rgba(122, 12, 124, 0.25);
}
.form-control-crilzz{
    background-color: white;
    appearance: auto;
}
.form-control-crilzz:focus {
    border-color: #7A0C7C;
    box-shadow: 0 0 0 .25rem rgba(122, 12, 124, 0.25);
}
.avatar-navbar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-wrapper {
    position: relative;
    width: 128px;
    height: 128px;
}
.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #7a0c7c60;
    transition: opacity .3s ease;
}
.avatar:hover {
    opacity: .3;
}
.avatar-icon {
    width: 64px;
    height: 64px;
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: none; /* Ne gêne pas le clic */
}
.avatar-wrapper:hover .avatar-icon {
    opacity: .7;
}
.image-choice-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.image-choice-label {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 4px;
    border-radius: 10px;
    transition: border 0.3s;
}
.image-choice-label input[type="radio"] {
    display: none;
}
.image-choice-label img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.image-choice-label input[type="radio"]:checked + img {
    border: 3px solid #7A0C7C;
}