nav {
  padding: 1rem;
  background-color: #7a0c7c;
}

.navbar{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 0 auto;
  max-width: 1024px;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:visited {
  color: white;
}
nav a:hover{
  text-decoration: none;
  color: #f5e1f5;
}

.nav-right a {
  margin-left: 20px;
  color: white;
}
.nav-right a:visited {
  color: white;
}
.nav-right a:hover {
  border-bottom: #f5e1f5 solid 2px;
  color: #f5e1f5;
}